.title-img {

	width: 100%;
	text-align: center;
}

body {

	background-color: black;
}

h1 {

	color: white;
	text-align: center;
	margin-top: 50px;
}

p {

	color: white;
	text-align: center;
	font-size: 25px;
}

span {

	color: white;
}

h2 {

	color: white;
	text-align: center;
}

#wins {

	float: left;
	padding-left: 300px;
}

#loss {

	float: right;
	padding-right: 300px;
}

#guesses {

	padding-top: 30px;
}

#word-blank {

	margin-bottom: 50px;
}

#zero {

	position: relative;
	left: 660px;

	
}



